html {
   margin: 20px;
   background-color: #EDF5C8;
}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
   font-weight: 800;
   color: red;
} 
h1 {
     font-size: 50px;
   }
P {
     font-size: 20px;
   color: red;
  }
